/* Entire page */

body {
  --text-color-strong: #000000;
  --text-color: #565656;
  --background-color: #ffffff;
  --accent-color: #0891b2;

  --headline-font: "Playfair Display", Georgia, serif;
  --simple-font: "Roboto", Arial, Helvetica, sans-serif;

  font-family: var(--simple-font);
  color: var(--text-color);
  background: var(--background-color);
}

h1, h2, h3 {
  color: var(--text-color-strong);
  font-family: var(--headline-font);
}

img {
  margin: auto;
  max-width: 100%;
  max-height: 90vh;
}

/* Icon Sources */

i {
  display: inline-block;
  width: 30px;
  height: 30px;
}

i.github {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg');
}

i.linkedin {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg');
}

i.wordpress {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-plain.svg');
}

i.link {
  background-image: url('./img/open-in-new.svg');
}

/* Header */



/* Projects */

/* Footer */

footer {
  color: var(--background-color);
  background-color: var(--accent-color);

  h1, h2, h3 {
    color: var(--background-color);
  }
}

/* Tablet layout */

/* Desktop layout */