/* Entire page */

body {
  --headline-font: "Playfair Display", Georgia, serif;
  --simple-font: "Roboto", Arial, Helvetica, sans-serif;

  font-family: var(--simple-font);
  color: #111111;
  background: #eeeeee;
}

h1, h2, h3 {
  font-family: var(--headline-font);
}

img {
  margin: auto;
  max-width: 100%;
  max-height: 90vh;
}

/* Icon Sources */

i {
  display: inline-block;
  width: 30px;
  height: 30px;
}

i.github {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg');
}

i.linkedin {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-plain.svg');
}

i.wordpress {
  background-image: url('https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/wordpress/wordpress-plain.svg');
}

i.link {
  background-image: url('./img/open-in-new.svg');
}

/* Header */



/* Projects */

/* Footer */

/* Tablet layout */

/* Desktop layout */